@import url(https://fonts.googleapis.com/css?family=Fira+Sans);

* {
  font-family: "Fira Sans", sans-serif;
}

html { /*To force the page to fill out the window more*/
  min-height: 100vh;
  width: 100vw;
}

body {
  min-height: 95vh; /*Also to do with filling out the page*/
  background-color: #F0ECEE;
  margin: 15px; /*To keep the edges of the page away from the edge of the window*/
  display: flex; /*Mostly to make the page fill out the whole document*/
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

strong {
  color: #FF4850;
  font-style: none; /*To remove the default bolding*/
}

button {
  padding: 10px;
  border-radius: 15px; /*Should this be 5px? That looks closer to the design*/
  border-style: none; /*To remove the default border effect on the buttons*/

  background-color: #FF4850;
  color: white;
  font-size: 18px;
  font-weight: 300;

  width: 100%;

  cursor: pointer; /*To make the cursor be the pointer finger when hovering on the buttons*/
}

button:hover { /*Changes button colors when hovered*/
  background-color: #CCC;
  color: #FF4850;
}

.site-title {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  flex: 1; /*To make the title push the rest of the items on the nav bar to the right*/
}

.site-title strong {
  font-weight: 400;
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  list-style: none; /*To remove the bullet points*/
  font-size: 18px;
  margin: 10px 0;
  padding-left: 0; /*To remove the default indent*/
}

a {
  text-decoration: none; /*To remove the underline*/
  color: #88898B;
  font-weight: 300;
}

a:hover {
  color: #FF4850; /*To adjust the color when the link is hovered*/
}

.tagline {
  font-style: none;
  font-weight: 600;
  line-height: 1.5;
}

.tagline strong {
  font-weight: 600;
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.0;
  color: #88898B; /*Used the link color because no color was specified and it seemed closest*/
}

/*Media tag to adjust style for desktop mode*/
@media (min-width: 768px) {
  body { /*Add background image*/
    background-image: url(../img/bulldog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px 50px;
  }

  header { /*Swap the header to a horizontal layout*/
    flex-direction: row;
  }

  ul { /*Swap the nav to a horizontal layout and fix spacing*/
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
  }

  li {
    margin: 0 5px;
  }

  button { /*Change button widths as specified*/
    width: auto;
  }

  main { /*Force the main to put its contents centered vertically and take up more of the screen than the nav*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 45%; /*Keep the text content to the left of the dog picture as much as possible*/
    flex: 1;
  }

  .tagline {
    margin: 0;
  }

  .more-info {
    padding: 15px 50px; /*To make this look more like the design*/
  }

  p { /*Adjust font size and line spacing as seen in the design*/
    font-size: 20px;
    line-height: 1.25;
  }
}
